netifaces==0.10.9
packaging==20.4
prompt-toolkit==3.0.5
pycryptodome==3.9.8
requests==2.24.0
rich==9.10.0
python-rapidjson==0.9.1
ZODB==5.6.0
zodburi==2.4.0
jinja2
paramiko==2.7.2
sphinx-toolbox==2.11.2
enum-tools==0.6.4
